

</div>
<div class="header-links">
<div class="header-links-wrap">
    <span class="header-links__item active">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30343 8.05728C3.73708 8.05728 4.08862 8.41932 4.08862 8.86592V12H7.5415L7.54152 5.33889C7.54152 4.89229 7.19 4.53024 6.75635 4.53024L0 4.53024V8.05728L3.30343 8.05728Z" fill="#F85A00"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.69656 3.94272C8.26291 3.94271 7.91138 3.58068 7.91138 3.13408V0H4.45849L4.45847 6.66111C4.45847 7.10771 4.81001 7.46976 5.24366 7.46976L12 7.46976V3.94272L8.69656 3.94272Z" fill="white"></path>
        </svg>
        <span>SHOP</span>
    </span>
                    <span class="header-links__item link" url="https://partners.autodoc.eu/en?utm_source=Autodoc.co.uk&amp;utm_medium=referral&amp;utm_term=en&amp;utm_content=categories%7Cdesktop%7C&amp;utm_campaign=header_partners" target="_blank">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30343 8.05728C3.73708 8.05728 4.08862 8.41932 4.08862 8.86592V12H7.5415L7.54152 5.33889C7.54152 4.89229 7.19 4.53024 6.75635 4.53024L0 4.53024V8.05728L3.30343 8.05728Z" fill="#F85A00"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.69656 3.94272C8.26291 3.94271 7.91138 3.58068 7.91138 3.13408V0H4.45849L4.45847 6.66111C4.45847 7.10771 4.81001 7.46976 5.24366 7.46976L12 7.46976V3.94272L8.69656 3.94272Z" fill="white"></path>
        </svg>
        <span>PARTNERS</span>
    </span>
                    <span class="header-links__item link" url="https://club.autodoc.co.uk/?reg-modal=1&amp;to=%2Fuser%2Fgarage&amp;utm_source=Autodoc.co.uk&amp;utm_medium=referral&amp;utm_term=en&amp;utm_content=categories%7Cdesktop%7C&amp;utm_campaign=header_club" target="_blank">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30343 8.05728C3.73708 8.05728 4.08862 8.41932 4.08862 8.86592V12H7.5415L7.54152 5.33889C7.54152 4.89229 7.19 4.53024 6.75635 4.53024L0 4.53024V8.05728L3.30343 8.05728Z" fill="#F85A00"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.69656 3.94272C8.26291 3.94271 7.91138 3.58068 7.91138 3.13408V0H4.45849L4.45847 6.66111C4.45847 7.10771 4.81001 7.46976 5.24366 7.46976L12 7.46976V3.94272L8.69656 3.94272Z" fill="white"></path>
        </svg>
        <span>CLUB</span>
    </span>
</div>
</div>

            



        <div id="discount-box" class="discount-box" data-animation="">
        <div class="discount-box__wrap">
            <div class="discount-box__wrap-percent"><span>EXPLORE THE BEST PRICES! UP TO 25% OFF*</span>                                    </div>
                                <div class="discount-box__wrap-text">Don't miss</div>
                            <div class="discount-box__wrap-timer">
                <div id="js-discount-box-timer" class="js-discount-box-timer" data-timer-end="1677452399" data-timer-type="HourlyCounter">12:37:06</div>
            </div>
        </div>
    </div>


<link type="text/css" rel="stylesheet" href="./Car spare parts catalogue - Autodoc.co.uk_files/promotion.css">
<script type="text/javascript" src="./Car spare parts catalogue - Autodoc.co.uk_files/promotion.js.download"></script>

    
<header class="header some">
<div class="header__wrapper">
    <div class="header__top">
        
                                                
<div class="header__logo">
<a class="header__logo-main" data-gac="Main_menu" data-ga-action="Main_menu" data-part-type="PKW" href="https://www.autodoc.co.uk/"><img alt="AUTODOC" src="./Car spare parts catalogue - Autodoc.co.uk_files/logo-atd.svg"></a>
</div>

        
<div class="header__profile logined sigin_btn">

    <div class="header-garage js-header-garage" data-user-id="">
        <span class="header-garage__count">0</span>
        <div class="header-garage-wrapper"></div>
    </div>
    <span id="count-items-wishlist">
            <span class="header__wishes link" url="https://www.autodoc.co.uk/services/wishlist">
    <span class="header__wishes-count ">
        0        </span>
</span>
    </span>
    <a class="js-show-login-popup header-i header-i--user" href="https://www.autodoc.co.uk/car-parts?bing=1&amp;utm_source=bing&amp;utm_medium=cpc&amp;msclkid=c8226963d54b111e45ba0a989e80d978#">
        <span>Sign in</span>
    </a>
</div>
    </div>
    <div class="header__main">

        <div class="menu-catalog">
            <span class="menu-catalog__enter--disabled js-menu-catalog__enter menu-catalog__enter">Car parts</span>            </div>
        <div class="header-search">
                            <form action="https://www.autodoc.co.uk/spares-search" method="get" id="search_form" name="search_form">
                <div class="header-search__input-row">
                    <input class="header-search__input" type="text" placeholder="Enter the part number or name" name="keyword" id="search" maxlength="150" autocomplete="off">
                                                <a class="header-i header-i--info inf" href="https://www.autodoc.co.uk/car-parts?bing=1&amp;utm_source=bing&amp;utm_medium=cpc&amp;msclkid=c8226963d54b111e45ba0a989e80d978#"><span>Example</span></a>
                                        </div>
                <a href="https://www.autodoc.co.uk/car-parts?bing=1&amp;utm_source=bing&amp;utm_medium=cpc&amp;msclkid=c8226963d54b111e45ba0a989e80d978#" class="header-search__submit search_submit form-submitter">Search</a>
            </form>
            <script type="text/javascript">
                $(function () {
                    $('#search_form').submit(function(event){
                        var def_val = "Enter the part number or name";
                        if($('#search').val() === '' || $('#search').val() === def_val){
                            event.preventDefault();
                        }
                    });
                });
            </script>
            <div id="autocomplete-suggestions-list" style="width: 627.312px;"><div class="autocomplete-suggestions" style="position: absolute; display: none; width: 300px; max-height: 800px; z-index: 100;"></div></div>
        </div>
      
<div class="header-cart ga-click" data-gac="Go_to_basket" data-ga-action="499603" id="cart-container" data-items="items" data-item="Item" onclick="location.href=&#39;https://www.autodoc.co.uk/basket&#39;">
<a class="header-cart__link" href="https://www.autodoc.co.uk/car-parts?bing=1&amp;utm_source=bing&amp;utm_medium=cpc&amp;msclkid=c8226963d54b111e45ba0a989e80d978#">
    <div class="header-cart__count">
        <img alt="" src="./Car spare parts catalogue - Autodoc.co.uk_files/cart-header.svg">        </div>
    <div class="header-cart__info">
        <div class="header-cart__name ga-click" data-gac="Go_to_basket" data-ga-action="499603">
            <span>0</span>
            <span>items</span>
        </div>
        <div class="header-cart__num ga-click" data-gac="Go_to_basket" data-ga-action="499603">#
            <figure class="code" style="margin:0;display:inline;">49-9603</figure>            </div>
    </div>
    <div class="header-cart__total">
        <span class="header-cart__amount">£ 0,00</span>
    </div>
</a>

<!--TEMPORARY GA SCRIPT-->
<script>
$('#cart-container, #cart_block').on('click', '.temp-ga-click', function () {
    var action = $(this).data('temp-ga-action'),
        category = $(this).data('temp-gac');
    if (typeof GaAction !== 'undefined' && action && category) {
        GaAction.send(category, action);
    }
});
</script><div class="cart-items-block cart-items-block-empty">
        <div class="cart-items-block__no-items">
        Your basket is empty        </div>
</div>
</div>
        <div class="menu-category" id="menu-category-pkw">

        </div>
    </div>
    <div class="header__nav">
        <ul class="header__nav-list">
                                <li>
                    <a class="header-i header-i--truck ga-click" data-gac="Catalog_header_click" data-ga-action="LKW" href="https://trucks.autodoc.co.uk/"><span>Truck parts</span></a>                    </li>
                                <li>
                    <a class="header-i header-i--moto ga-click" data-gac="Catalog_header_click" data-ga-action="MOTO" href="https://moto.autodoc.co.uk/"><span>Motorcycle parts</span></a>                    </li>
                                <li>
                    <a class="header-i header-i--tyre ga-click" data-gac="Main_menu" data-ga-action="23208" data-parent-catalog-menu="" data-parent-id="23208" href="https://www.autodoc.co.uk/tyres"><span>Tyres</span></a>                    </li>
                                <li>
                    <a class="header-i header-i--tool ga-click" data-gac="Main_menu" data-ga-action="36000" data-parent-catalog-menu="" data-parent-id="36000" href="https://www.autodoc.co.uk/tools"><span>Tools</span></a>                    </li>
                                <li>
                    <a class="header-i header-i--accessories ga-click" data-gac="Main_menu" data-ga-action="33000" data-parent-catalog-menu="" data-parent-id="33000" href="https://www.autodoc.co.uk/car-accessories"><span>Car Accessories</span></a>                    </li>
                                <li>
                    <a class=" js-try_oil_listing_redirect header-i header-i--oil ga-click" data-gac="Main_menu" data-ga-action="12094" data-parent-catalog-menu="" data-category-id="12094" data-parent-id="10435" href="https://www.autodoc.co.uk/engine-oil"><span>Engine oil</span></a>                    </li>
                                <li>
                    <a class="header-i header-i--filter ga-click" data-gac="Main_menu" data-ga-action="10105" data-parent-catalog-menu="" data-parent-id="10105" href="https://www.autodoc.co.uk/car-parts/filters"><span>Filters</span></a>                    </li>
                                <li>
                    <a class="header-i header-i--brackes ga-click" data-gac="Main_menu" data-ga-action="10106" data-parent-catalog-menu="" data-parent-id="10106" href="https://www.autodoc.co.uk/car-parts/brake-system"><span>Brakes</span></a>                    </li>
                                <li>
                    <a class="header-i header-i--ev ga-click" data-gac="Main_menu" data-ga-action="ev" data-ga-label="categories" data-parent-catalog-menu="" data-parent-id="" href="https://www.autodoc.co.uk/ev"><span>E-Mobility</span></a>                    </li>
                        </ul>
    </div>
</div>
</header>
